 .u-section-1 {
  background-image: url("images/tanaman.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 649px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  width: 363px;
  margin: 176px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  width: 680px;
  font-style: italic;
  margin: 10px auto 0;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 48px;
  min-height: 16px;
  width: 320px;
  min-width: 160px;
  margin: 41px auto 60px;
}

.u-section-1 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
}

.u-section-1 .u-icon-2 {
  color: rgb(85, 172, 238) !important;
}

.u-section-1 .u-icon-3 {
  color: rgb(197, 54, 164) !important;
}

.u-section-1 .u-icon-4 {
  color: rgb(0, 122, 185) !important;
}

.u-section-1 .u-icon-5 {
  color: rgb(203, 32, 39) !important;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 563px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 415px;
    margin-right: 415px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 230px;
    margin-right: 230px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 431px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 405px;
    margin-right: 405px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 220px;
    margin-right: 220px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 510px;
  }

  .u-section-1 .u-text-1 {
    width: 310px;
    margin-top: 137px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    margin-left: 20px;
    margin-right: 20px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 321px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: 207px;
    margin-top: 125px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-social-icons-1 {
    height: 36px;
    width: 260px;
    margin-bottom: 0;
  }
}