 .u-section-1 {
  min-height: 841px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  min-height: 841px;
  background-image: url("images/ygngfuyy4dlh1z64uwdi-removebg-preview.png");
  background-position: 53.49% 17.5%;
  background-size: auto 125%;
}

.u-section-1 .u-image-2 {
  min-height: 841px;
  background-image: url("images/BG3.jpg");
  background-position: 0% 50%;
}

.u-section-1 .u-container-layout-2 {
  margin-bottom: 0;
}

.u-section-1 .u-group-1 {
  width: 669px;
  min-height: 503px;
  height: auto;
  margin: 194px auto 0 -249px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-size: 3.4375rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: Poppins;
  margin: 16px 59px 0 183px;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 6px 82px 0 206px;
}

.u-section-1 .u-btn-1 {
  font-style: normal;
  text-transform: uppercase;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  margin: 16px auto 0 206px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 730px;
  }

  .u-section-1 .u-image-1 {
    background-position: 69.17% 54.58%;
    min-height: 693px;
  }

  .u-section-1 .u-image-2 {
    min-height: 693px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-1 .u-group-1 {
    margin-top: 124px;
    margin-left: -253px;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 187px;
    margin-left: 140px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-right: 129px;
    margin-left: 158px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 0;
    margin-left: 158px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 578px;
  }

  .u-section-1 .u-image-1 {
    background-position: 55.65% 50%;
    min-height: 531px;
  }

  .u-section-1 .u-image-2 {
    min-height: 531px;
  }

  .u-section-1 .u-group-1 {
    width: 360px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-right: 96px;
    margin-left: -78px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 78px;
    margin-left: -78px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: -78px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1570px;
  }

  .u-section-1 .u-image-1 {
    background-position: 46.68% 43.48%;
    min-height: 797px;
  }

  .u-section-1 .u-image-2 {
    min-height: 797px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 115px;
    margin-left: 95px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 50px;
    margin-right: 109px;
    margin-left: -91px;
  }

  .u-section-1 .u-btn-1 {
    border-style: none;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1080px;
  }

  .u-section-1 .u-image-1 {
    background-position: 52.87% 52.39%;
    min-height: 502px;
  }

  .u-section-1 .u-image-2 {
    min-height: 618px;
    background-size: auto 125%;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-top: 116px;
    margin-bottom: -1px;
    margin-left: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 40px;
    margin-right: -10px;
    margin-left: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-right: -21px;
    margin-left: 21px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 10px;
    margin-left: 21px;
  }
} .u-section-2 {
  min-height: 974px;
}

.u-section-2 .u-image-1 {
  width: 197px;
  height: 471px;
  object-position: 100% 50%;
  background-position: 100% 50%;
  margin: 503px auto 0 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: -888px auto 60px calc(((100% - 1140px) / 2) + -1px);
}

.u-section-2 .u-layout-cell-1 {
  min-height: 636px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  font-family: Poppins;
  font-weight: 700;
  margin: 115px 50px 0 0;
}

.u-section-2 .u-text-2 {
  font-weight: normal;
  margin: 17px 25px 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  font-style: normal;
  text-transform: uppercase;
  border-style: none;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  margin: 25px auto 0 25px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 636px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-image-2 {
  width: 711px;
  height: 711px;
  background-image: url("images/Asset1rg1.png");
  background-position: 50% 50%;
  margin: -42px auto 0 -117px;
}

.u-section-2 .u-image-3 {
  width: 611px;
  height: 611px;
  background-image: url("images/Asset1rg211.png");
  background-position: 50% 50%;
  margin: -682px auto 8px -57px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 863px;
  }

  .u-section-2 .u-image-1 {
    width: 388px;
    height: 400px;
    object-position: 50% 50%;
    background-position: 50% 50%;
    margin-top: 477px;
    margin-left: calc(((100% - 940px) / 2) + -279px);
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    margin-top: -790px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 524px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 56px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 96px;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 524px;
  }

  .u-section-2 .u-image-2 {
    width: 575px;
    height: 575px;
    margin-top: 19px;
    margin-left: -88px;
  }

  .u-section-2 .u-image-3 {
    width: 504px;
    height: 504px;
    margin-top: -558px;
    margin-bottom: 66px;
    margin-left: -50px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 740px;
  }

  .u-section-2 .u-image-1 {
    width: 402px;
    margin-top: 399px;
    margin-left: calc(((100% - 720px) / 2) + -294px);
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -784px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 635px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
    margin-top: 75px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-right: -15px;
    margin-left: 15px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 1px;
    margin-left: 15px;
  }

  .u-section-2 .u-layout-cell-2 {
    z-index: 2;
    min-height: 635px;
  }

  .u-section-2 .u-image-2 {
    width: 405px;
    height: 405px;
    margin-top: 74px;
    margin-left: -35px;
  }

  .u-section-2 .u-image-3 {
    width: 350px;
    height: 350px;
    margin-top: -405px;
    margin-bottom: 0;
    margin-left: -1px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1381px;
  }

  .u-section-2 .u-image-1 {
    width: 370px;
    object-position: 100% 50%;
    margin-top: 490px;
    margin-left: calc(((100% - 540px) / 2) + -244px);
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -875px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    z-index: 0;
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 12px;
    padding-right: 32px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 55px;
  }

  .u-section-2 .u-btn-1 {
    margin-bottom: 55px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 358px;
  }

  .u-section-2 .u-image-2 {
    width: 517px;
    height: 517px;
    margin-top: -247px;
    margin-right: -136px;
    margin-left: auto;
  }

  .u-section-2 .u-image-3 {
    width: 451px;
    height: 451px;
    margin-top: -494px;
    margin-right: -70px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1011px;
  }

  .u-section-2 .u-image-1 {
    width: 143px;
    height: 309px;
    background-position: 90.23% 50%;
    margin-top: 1034px;
    margin-left: calc(((100% - 340px) / 2) + -126px);
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -1342px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 420px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: 303px;
    margin-right: 7px;
    margin-left: 20px;
  }

  .u-section-2 .u-text-2 {
    margin-right: -14px;
    margin-left: 35px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 6px;
    margin-bottom: -192px;
    margin-left: 35px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 450px;
  }

  .u-section-2 .u-image-2 {
    height: 340px;
    width: 340px;
    margin-top: -446px;
    margin-right: -113px;
  }

  .u-section-2 .u-image-3 {
    width: 297px;
    height: 297px;
    margin-top: -340px;
    margin-right: 47px;
  }
} .u-section-3 {
  min-height: 590px;
}

.u-section-3 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: -105px 0 60px auto;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 653px;
}

.u-section-3 .u-container-layout-1 {
  padding-top: 0;
}

.u-section-3 .u-image-1 {
  width: 347px;
  height: 347px;
  background-image: url("images/Asset2rg2111.png");
  background-position: 50% 50%;
  margin: 202px auto 0 0;
}

.u-section-3 .u-image-2 {
  width: 471px;
  height: 471px;
  background-image: url("images/Asset4rg.png");
  background-position: 50% 50%;
  margin: -530px 49px 0 auto;
}

.u-section-3 .u-layout-cell-2 {
  background-image: none;
  min-height: 653px;
}

.u-section-3 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  font-family: Poppins;
  font-weight: 700;
  margin: 100px 50px 0 0;
}

.u-section-3 .u-text-2 {
  font-weight: normal;
  margin: 25px 25px 0;
}

.u-section-3 .u-image-3 {
  width: 373px;
  height: 386px;
  object-position: 0% 0%;
  background-position: 50% 0%;
  margin: -25px -191px 0 auto;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  font-style: normal;
  text-transform: uppercase;
  border-style: none;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  margin: -343px auto 0 25px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 403px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
    margin-bottom: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 538px;
  }

  .u-section-3 .u-image-1 {
    width: 268px;
    height: 268px;
    margin-top: 241px;
  }

  .u-section-3 .u-image-2 {
    width: 411px;
    height: 411px;
    margin-top: -503px;
    margin-right: 11px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 538px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 52px;
    margin-right: 52px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 52px;
    margin-right: 52px;
  }

  .u-section-3 .u-image-3 {
    width: 415px;
    margin-top: 80px;
    margin-right: -183px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: -448px;
    margin-left: 52px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 277px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 412px;
  }

  .u-section-3 .u-image-1 {
    width: 219px;
    height: 219px;
    margin-top: 217px;
  }

  .u-section-3 .u-image-2 {
    width: 305px;
    height: 305px;
    margin-top: -387px;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 412px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 16px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-3 {
    margin-top: 578px;
    margin-right: -259px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: -946px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 583px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
    margin-top: -594px;
    margin-bottom: 44px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 779px;
  }

  .u-section-3 .u-image-1 {
    width: 285px;
    height: 285px;
    margin-top: 167px;
    margin-left: 119px;
  }

  .u-section-3 .u-image-2 {
    width: 449px;
    height: 449px;
    margin-top: -474px;
    margin-right: -51px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 663px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 0;
  }

  .u-section-3 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    margin-top: -291px;
    margin-right: 60px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-right: 39px;
    margin-left: 21px;
  }

  .u-section-3 .u-image-3 {
    margin-top: 665px;
    margin-right: -181px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: -1032px;
    margin-left: 21px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 354px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-3 .u-layout-cell-1 {
    background-position: 37.5% 50%;
    min-height: 490px;
  }

  .u-section-3 .u-image-1 {
    width: 172px;
    height: 172px;
    margin-top: 145px;
    margin-right: 47px;
    margin-left: auto;
  }

  .u-section-3 .u-image-2 {
    width: 278px;
    height: 278px;
    margin-top: -135px;
    margin-right: auto;
    margin-left: 12px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
    margin-top: -11px;
    margin-right: 37px;
    margin-left: 1px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -6px;
    margin-right: 23px;
    margin-left: 15px;
  }

  .u-section-3 .u-image-3 {
    margin-top: 1584px;
    margin-right: -240px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: -1966px;
    margin-bottom: -164px;
    margin-left: 13px;
  }
} .u-section-4 {
  min-height: 679px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1140px;
  margin: 28px auto;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 653px;
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  font-family: Poppins;
  margin: 14px 50px 0 0;
}

.u-section-4 .u-text-2 {
  font-weight: normal;
  margin: 14px 25px 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  font-style: normal;
  text-transform: uppercase;
  border-style: none;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  margin: 7px auto 0 25px;
}

.u-section-4 .u-layout-cell-2 {
  background-image: none;
  min-height: 653px;
}

.u-section-4 .u-container-layout-2 {
  padding-bottom: 0;
}

.u-section-4 .u-image-1 {
  width: 528px;
  height: 528px;
  background-image: url("images/Asset2.png");
  background-position: 50% 50%;
  margin: -26px auto 0;
}

.u-section-4 .u-image-2 {
  width: 256px;
  height: 256px;
  background-image: url("images/Asset9rg321.png");
  background-position: 50% 50%;
  margin: -513px auto 0 -20px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 748px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
    margin-top: 240px;
    margin-bottom: 0;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 538px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 52px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 538px;
  }

  .u-section-4 .u-image-1 {
    width: 435px;
    height: 435px;
  }

  .u-section-4 .u-image-2 {
    width: 211px;
    height: 211px;
    margin-top: -135px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 694px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 484px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 40px;
    padding-bottom: 0;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 484px;
  }

  .u-section-4 .u-image-1 {
    width: 369px;
    height: 369px;
    margin-top: -62px;
    margin-left: -30px;
  }

  .u-section-4 .u-image-2 {
    width: 162px;
    height: 162px;
    margin-top: -85px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 1239px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 326px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    margin-top: -547px;
    margin-right: 24px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 0;
    margin-left: 12px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 79px;
  }

  .u-section-4 .u-image-1 {
    width: 397px;
    height: 397px;
    margin-top: -1270px;
    margin-right: -90px;
    margin-left: auto;
  }

  .u-section-4 .u-image-2 {
    width: 227px;
    height: 227px;
    margin-top: -362px;
    margin-right: 147px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 1010px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
    margin-top: 32px;
    margin-right: 14px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
    margin-left: 14px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 2px;
    margin-bottom: -286px;
    margin-left: 13px;
  }

  .u-section-4 .u-layout-cell-2 {
    background-position: 37.5% 50%;
    min-height: 323px;
  }

  .u-section-4 .u-image-1 {
    width: 323px;
    height: 323px;
    margin-top: -475px;
    margin-right: auto;
    margin-left: -3px;
  }

  .u-section-4 .u-image-2 {
    width: 127px;
    height: 127px;
    margin-top: -75px;
    margin-right: auto;
    margin-left: 100px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 613px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: -160px;
  margin-bottom: 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 704px;
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-5 .u-image-1 {
  width: 596px;
  height: 596px;
  background-image: url("images/Asset8rg321.png");
  background-position: 50% 50%;
  margin: -30px auto 0 1px;
}

.u-section-5 .u-image-2 {
  width: 506px;
  height: 506px;
  background-image: url("images/Asset3rg22.png");
  background-position: 50% 50%;
  margin: -566px 42px 0 auto;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 704px;
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-5 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  font-family: Poppins;
  margin: 164px 44px 0 6px;
}

.u-section-5 .u-text-2 {
  font-weight: normal;
  margin: 6px 14px 0 36px;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  font-style: normal;
  text-transform: uppercase;
  border-style: none;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  margin: 6px auto 0 36px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 520px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 120px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 430px;
  }

  .u-section-5 .u-image-1 {
    width: 491px;
    height: 491px;
    margin-top: -148px;
    margin-left: auto;
  }

  .u-section-5 .u-image-2 {
    width: 417px;
    height: 417px;
    margin-top: -473px;
    margin-right: 33px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 430px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 52px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 96px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 404px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 0;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 424px;
    z-index: 2;
  }

  .u-section-5 .u-image-1 {
    width: 376px;
    height: 376px;
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-5 .u-image-2 {
    width: 320px;
    height: 320px;
    margin-top: -360px;
    margin-right: auto;
    margin-left: 28px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 424px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 0;
  }

  .u-section-5 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 412px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: -45px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 457px;
    z-index: auto;
  }

  .u-section-5 .u-image-1 {
    width: 423px;
    height: 423px;
    margin-top: -1139px;
    margin-left: -81px;
  }

  .u-section-5 .u-image-2 {
    width: 360px;
    height: 360px;
    margin-top: -369px;
    margin-left: -38px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 15px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 0;
  }

  .u-section-5 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    margin-top: -1173px;
    margin-right: 24px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-left: 24px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 8px;
    margin-left: 24px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 379px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 365px;
  }

  .u-section-5 .u-image-1 {
    height: 339px;
    width: 339px;
    margin-top: -204px;
    margin-right: -24px;
    margin-left: auto;
  }

  .u-section-5 .u-image-2 {
    width: 284px;
    height: 284px;
    margin-top: -292px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 618px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3rem;
    margin-top: -211px;
    margin-right: 21px;
    margin-left: -7px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 14px;
    margin-left: 0;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 9px;
    margin-left: 0;
  }
} .u-section-6 {
  min-height: 400px;
}

.u-section-6 .u-sheet-1 {
  min-height: 581px;
}

.u-section-6 .u-layout-wrap-1 {
  width: 1140px;
  margin: -41px auto 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 362px;
  background-image: none;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-6 .u-text-1 {
  margin: 150px 30px 0;
}

.u-section-6 .u-text-2 {
  margin: 20px 30px 0;
}

.u-section-6 .u-icon-1 {
  height: 122px;
  width: 122px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: -275px auto 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 362px;
  background-image: none;
}

.u-section-6 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-6 .u-icon-2 {
  height: 122px;
  width: 122px;
  background-image: none;
  margin: 0 auto;
}

.u-section-6 .u-text-3 {
  margin: 28px 30px 0;
}

.u-section-6 .u-text-4 {
  margin: 20px 30px 0;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 362px;
  background-image: none;
}

.u-section-6 .u-container-layout-3 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-6 .u-icon-3 {
  height: 122px;
  width: 122px;
  background-image: none;
  margin: 0 auto 0 89px;
}

.u-section-6 .u-text-5 {
  margin: 28px 0 0;
}

.u-section-6 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-6 .u-image-1 {
  width: 454px;
  height: 433px;
  object-position: 100% 0%;
  background-position: 100% 0%;
  margin: -520px auto -71px -391px;
}

@media (max-width: 1199px) {
   .u-section-6 {
    min-height: 500px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 220px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 381px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 56px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-icon-1 {
    margin-top: -342px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 381px;
  }

  .u-section-6 .u-icon-2 {
    color: rgb(255, 255, 255) !important;
    margin-right: 56px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-6 .u-text-4 {
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 381px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-6 .u-icon-3 {
    margin-left: auto;
  }

  .u-section-6 .u-image-1 {
    margin-top: -722px;
    margin-bottom: 60px;
    margin-left: -380px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 578px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 98px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 467px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-6 .u-icon-1 {
    margin-top: -392px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 467px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-6 .u-icon-2 {
    margin-right: auto;
  }

  .u-section-6 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 467px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-6 .u-text-6 {
    width: auto;
    margin-top: 56px;
    margin-bottom: -36px;
  }

  .u-section-6 .u-image-1 {
    margin-top: -648px;
    margin-left: -402px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 459px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 43px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: -399px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 24px;
  }

  .u-section-6 .u-icon-1 {
    margin-top: -256px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 15px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6 .u-icon-2 {
    margin-top: -304px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-top: 21px;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-6 .u-text-4 {
    width: auto;
    margin-top: 41px;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 303px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6 .u-icon-3 {
    margin-top: 7px;
  }

  .u-section-6 .u-text-5 {
    width: auto;
    margin-top: 14px;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-6 .u-text-6 {
    margin: 41px 14px 0;
  }

  .u-section-6 .u-image-1 {
    margin-top: -1319px;
    margin-left: -341px;
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    min-height: 319px;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 620px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-6 .u-text-1 {
    margin-top: -335px;
  }

  .u-section-6 .u-icon-1 {
    margin-top: -248px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-6 .u-icon-2 {
    margin-top: -264px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 40px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 312px;
  }

  .u-section-6 .u-icon-3 {
    margin-top: 10px;
  }

  .u-section-6 .u-text-5 {
    margin-top: 21px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-text-6 {
    margin-top: 31px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-image-1 {
    margin-top: -1932px;
    margin-left: -410px;
  }
} .u-section-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/19545dd863db73e8fe9127b3c46ada9a.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-sheet-1 {
  min-height: 453px;
}

.u-section-7 .u-layout-wrap-1 {
  width: 906px;
  margin: 59px 117px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 140px;
}

.u-section-7 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-7 .u-text-1 {
  font-family: Poppins;
  margin: 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 140px;
}

.u-section-7 .u-line-1 {
  width: 141px;
  height: 6px;
  margin: 7px auto 15px;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 140px;
}

.u-section-7 .u-container-layout-3 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-7 .u-text-2 {
  margin: 0 0 20px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 455px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 747px;
    margin-left: 96px;
    margin-right: 96px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 139px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 143px;
  }

  .u-section-7 .u-line-1 {
    width: 114px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 143px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 103px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 23px;
  }

  .u-section-7 .u-line-1 {
    transform-origin: left center 0;
    margin-right: 35px;
    margin-bottom: 20px;
    margin-left: 0;
    width: 109px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 77px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 13px;
    padding-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-layout-cell-1 {
    min-height: 117px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 27px;
  }

  .u-section-7 .u-line-1 {
    width: 114px;
    transform-origin: 57px 3px;
    margin: 5px auto;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 89px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 9px;
    padding-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 690px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 184px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 43px;
  }

  .u-section-7 .u-line-1 {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 113px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 357px;
}

.u-section-8 .u-layout-wrap-1 {
  margin: 65px auto 45px 0;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 263px;
}

.u-section-8 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 0 0 20px;
}

.u-section-8 .u-text-2 {
  font-style: italic;
  font-size: 1rem;
  margin: 20px 0 0 20px;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 264px;
  background-image: none;
}

.u-section-8 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 20px 0;
}

.u-section-8 .u-text-4 {
  font-style: italic;
  margin: 21px 0 0 20px;
}

.u-section-8 .u-layout-cell-3 {
  min-height: 264px;
  background-image: none;
}

.u-section-8 .u-container-layout-3 {
  padding-left: 16px;
}

.u-section-8 .u-text-5 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 1px 0 12px;
}

.u-section-8 .u-text-6 {
  font-style: italic;
  margin: 20px 0 0 12px;
}

.u-section-8 .u-layout-cell-4 {
  background-image: none;
  min-height: 264px;
}

.u-section-8 .u-text-7 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 20px 0;
}

.u-section-8 .u-text-8 {
  font-style: italic;
  margin: 20px 12px 0 20px;
}

.u-section-8 .u-layout-cell-5 {
  background-image: none;
  min-height: 264px;
}

.u-section-8 .u-text-9 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 19px -13px 0 23px;
}

.u-section-8 .u-text-10 {
  font-style: italic;
  margin: 21px 15px 0 25px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 259px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-8 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 259px;
  }

  .u-section-8 .u-text-3 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-8 .u-text-4 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 259px;
  }

  .u-section-8 .u-text-5 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
    position: relative;
  }

  .u-section-8 .u-text-6 {
    position: relative;
    margin-right: 16px;
    margin-bottom: 25px;
    margin-left: 0;
  }

  .u-section-8 .u-layout-cell-4 {
    min-height: 259px;
  }

  .u-section-8 .u-text-7 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-8 .u-text-8 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-8 .u-layout-cell-5 {
    min-height: 259px;
  }

  .u-section-8 .u-text-9 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-8 .u-text-10 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 290px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: 43px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 227px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
    font-weight: 400;
  }

  .u-section-8 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 227px;
  }

  .u-section-8 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
    font-weight: 400;
  }

  .u-section-8 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 227px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
  }

  .u-section-8 .u-text-5 {
    margin-left: 13px;
    margin-right: 13px;
    font-weight: 400;
    width: 684px;
  }

  .u-section-8 .u-text-6 {
    margin-left: 13px;
    margin-right: 13px;
    margin-bottom: 0;
  }

  .u-section-8 .u-layout-cell-4 {
    min-height: 227px;
  }

  .u-section-8 .u-text-7 {
    font-weight: 400;
    width: auto;
    margin-top: 21px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-8 .u-text-8 {
    margin-top: 19px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-8 .u-layout-cell-5 {
    min-height: 227px;
  }

  .u-section-8 .u-text-9 {
    margin-left: 13px;
    margin-right: 13px;
    font-weight: 400;
  }

  .u-section-8 .u-text-10 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1178px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-8 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-8 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 8px;
  }

  .u-section-8 .u-text-5 {
    margin-left: 9px;
    margin-right: 9px;
    width: 514px;
  }

  .u-section-8 .u-text-6 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-8 .u-text-7 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-8 .u-text-8 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-8 .u-text-9 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-8 .u-text-10 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-8 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-8 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 5px;
  }

  .u-section-8 .u-text-5 {
    margin-left: 6px;
    margin-right: 6px;
    width: 323px;
  }

  .u-section-8 .u-text-6 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-8 .u-text-7 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-8 .u-text-8 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-8 .u-text-9 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-8 .u-text-10 {
    margin-left: 6px;
    margin-right: 6px;
  }
}